{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eliassama"],
  "overrides": [
    {
      "files": ["*.ts"],
      "extends": ["eliassama"]
    }
  ]
}